.topBox{
    border:solid black;
    height:150px;
    width:100%;
}

.topBoxLine1{
    border:solid black;
    height:50px;
    width:100%;
    display:flex;
    justify-content:space-evenly;

}
.menu{

}
.menu{

}
.menu{

}
.menu{

}
.menu{

}
.menu{

}

.topBoxLine2{
    border:solid black;
    height:50px;
    width:100%;
    text-align:center;
    font-size:40px;
}

.topBoxLine3{
    border:solid black;
    height:15px;
    width:20%;
    border-radius:50px;
    text-align:center;
    margin-left: 50%;
    margin-right:50%;
    padding-bottom:10px;
}

.firstRow,.secondRow{
   display:flex;
   justify-content:space-evenly;
}

.rowtitle{
    text-align:center;
}

.leftBox{
 border:solid black; 
 margin:50px;
}

.centerBox{
    border:solid black; 
    margin:50px;
   }

.rightBox{
    border:solid black; 
    margin:50px;
   }

 .secondRow,.secondRow{
    display:flex;
    justify-content:space-evenly;
 }
 
 .leftBox{
  border:solid black; 
  margin:50px;
 }
 
 .centerBox{
     border:solid black; 
     margin:50px;
    }
 
 .rightBox{
     border:solid black; 
     margin:50px;
    }